@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppins', sans-serif;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: url(Images/background01.jpeg) no-repeat;
    background-size: cover;
    background-position: center;
}

.container{
    width: 420px;
    background: transparent;
    border: 2px solid rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(15px);
    color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(255,255,255,0.2);
    padding: 30px 40px;
}

.container h1{
    font-size: 36px;
    color: rgb(255, 255, 255);
    text-align: center;
    transition: color 0.15s, text-shadow 0.4s;
    cursor: pointer;
}
.container h1:hover{
    color:#000000;
    text-shadow: 0px 0px 10px rgb(255, 255, 255), 0px 0px 20px rgb(255, 255, 255), 0px 0px 40px rgb(255, 255, 255), 0px 0px 80px rgb(255, 255, 255); 
    ;
}

.container .input-box{
    position: relative;
    width: 100%;
    height: 50%;
    margin: 30px 0px;
}

#name1{
    position: absolute;
    right: 20px;
    top:18%;
    transform: translateY(-50%);
    font-size: 20px;
    color:rgb(255, 255, 255);
}
#name2{
    position: absolute;
    right: 20px;
    top:82%;
    transform: translateY(-50%);
    font-size: 20px;
    color:rgb(255, 255, 255);
}


.input-box input{
    width: 100%;
    height: 40px;
    background: transparent;
    font-size: 16px;
    color: #ffffff;
    font-weight: 600px;
    border:none;
    outline: none;
    border: 2px solid rgba(255, 255, 255, 0.2);
    border-radius: 40px;
    padding: 20px 45px 20px 20px;
}
.container input::placeholder{
    color: #ffffff;
}

#text1, #pass1{
    margin-bottom: 30px;
}

#lock1{
    position: absolute;
    right: 20px;
    top:18%;
    transform: translateY(-50%);
    font-size: 20px;
    color:rgb(255, 255, 255);
}
#lock2{
    position: absolute;
    right: 20px;
    top:82%;
    transform: translateY(-50%);
    font-size: 20px;
    color:rgb(255, 255, 255);
}

.rem-forget{
    display: flex;
    justify-content:flex-end;
    font-size: 14.5;
    margin: -15px 3px 15px;
}
.rem-forget label input{
    accent-color: rgb(0, 0, 0);
    margin-right: 3px;
}
.rem-forget a{
    color:white;
    text-decoration: none;
}
.rem-forget a:hover{
    text-decoration: underline;
}
.rem-forget a:active{
    text-decoration: bold;
    color:rgb(151, 151, 221);
}

.button{
    width: 100%;
    height: 45px;
    background: rgb(0, 0, 0);
    border: none;
    outline: none;
    border-radius: 40px;
    box-shadow: 0 0 10px rgba(255,255,255,0.1);
    cursor: pointer;
    font-size: 16px;
    color: #ffffff;
    font-weight: bold;
    transition: background 0.2s, width 0.2s, height 0.2s, margin-left 0.2s, margin 0.2s, color 0.15s, border 0.2s;
}
.button:hover{
    background: rgba(255, 255, 255, 0.5);
    color:rgb(0, 0, 0);
    width:110%;
    height:50px;
    margin: -0.7% -0.7%;
    margin-left: -5%;
    border:1px solid white;
}
.button:active{
    background: rgba(160, 159, 159, 0.5);
}
.register{
    font-size: 14.5px;
    text-align: center;
    margin: 20px 0 15px;
}
.register p, .register a{
    color: white;
    text-decoration: none;
    font-weight: 600;
}
.register a:hover{
    text-decoration: underline;
    cursor:pointer;
}